<header class="site-header">
    <h1 class="site-name">
        <a class="menu-link" href="/">
          <img class="site-logo" src="/assets/img/logo.png" width="54px" height="54px" alt="{{ site.name }}">
        </a>
    </h1>
    <nav class="site-menu">
      <ul class="site-menu-list">
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.url != '/404.html' %}
          <li class="site-menu-item">
            <a class="site-menu-link" href="{{ my_page.url | relative_url }}">
              {{ my_page.title | escape }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</header>
