<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
		<meta name="description" content="{{site.description}}">
		{% include data.html %}
		<title> {% if page.title %}
			{{ page.title}} - {{site.title}}
			{% else %} {{site.title}}
			{% endif %}
		</title>
		<link rel="icon" type="image/png" href="/assets/img/logo.png">
		<link rel="stylesheet" href="/assets/main.css">
</head>
